@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #D3D3D3;

}
.main-nav {
  display: flex;
  /* creates flex items for flexbox layout*/
  justify-content: space-between;
  /* change how items are aligned on a vertical axis in flexbox*/
  background-color: #6d9dbd;
  padding: 15px 5px;
}

.main-nav a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", san-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

.main-nav-list {
  display: flex;
  /*creates flex items for flexbox layout*/
  list-style: none;
  /* removes the bullet from list item (nav bar)*/

}

.main-nav-list li {
  margin: 0 20px;
}

.banner {
  text-align: center;
  padding: 2rem 0;
  background-color: #fff;

}

h1 {
  font-family: "Roboto Slab", serif;
}
